
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
}

html, body, .app{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#p_close{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    font-size: 28px;
}

.app{
    background-image: url(../img/123app.png);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: auto 25%;
    text-align: center;
}

#p_llamar, #p_colgar, #p_conectar, #p_error{
    position: relative;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-position: center center;
    border: none;
    background-color: transparent;
    display: inline-block;
    top: 60%;
}

.oculto{
    display: none !important;
}

#p_conectar{
    background-image: url(../img/conectando.gif);
}

#p_error{
    background-image: url(../img/error.fw.png);
}

#p_llamar{
    background-image: url(../img/llamar.fw.png);
}

#p_colgar{
    background-image: url(../img/parar.fw.png);
}

#msg{
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}